@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    background: white;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.logo img {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
}

.navbar .searchbar {
    display: flex;
    height: 32px;
    align-items: center;
}

.search {
    display: flex;
    border: 1px solid #cccccc;
    width: 600px;
    height: 100%;
    margin-right: 10px;
}

.search input {
    border: none;
    width: 90%;
    padding-left: 10px;
}
.search button {
    border: none;
    border-left: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    cursor: pointer;
}
.search button i {
    margin: 0;
    padding: 2px;
}

.material-icons {
    color: #606060;
    margin-right: 10px;
}

.mainbody {
    height: calc(100vh - 56px);
    display: flex;
    overflow: hidden;
}

.categories {
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;
}
.category-section {
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
}
.category-section .category :last-child{
    margin-bottom: 10px;
}
.category_heading {
    margin: 10px 0px 10px 25px;
    color:#606060;
    font-size: 14px;
    font-weight: 500;
}
.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.category:hover {
    background: #f9f9f9;
}

.active {
    background: #d0d0d0;
    font-weight: 500;
}
.active:hover {
    background: #d0d0d0;
}
.active i {
    color: red;
}

.categories i {
    margin-right: 24px;
}

.categories-footer {
    padding: 25px;
    
}
.footer-section {
    margin-bottom: 12px;
}
.footer-section span {
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
    color: #606060;
    cursor: pointer;
    
}
.Copyright {
    font-size: 13px;
    font-weight: 400;
    margin: 20px;
    color: #606060;
}
.videos {
    width: calc(100vw - 240px);
    height: 100%;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
    overflow-y: scroll;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.video {
    width:calc(25% - 10px);
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}
.video.thumnail.img {
    width: 100%;
}
.details {
    display: flex;
    margin-top: 5px;
    width: 90%;
}

.proflie img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.video .video-details p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.posted-by {
    font-size: 14px;
    font-weight: 500;
    color:#606060;
}